<div class="flexContent">
<mat-toolbar style="background-color: rgb(200, 96, 36); color:white">
  <span>Capic</span>
  <span class="example-spacer"></span>
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid" >
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item" style="color: white;">
            <a routerLink="./home" class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="./regali" class="nav-link active" aria-current="page" href="#">Regali</a>
          </li>
          <li class="nav-item">
            <a routerLink="./lavoro" class="nav-link active" aria-current="page" href="#">Lavoro</a>
          </li>
          <li class="nav-item">
            <a routerLink="./segnalazioni" class="nav-link active" aria-current="page" href="#">Segnalazioni</a>
          </li>
          <li class="nav-item">
            <a routerLink="./contatti" class="nav-link active" aria-current="page" href="#">Contatti</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</mat-toolbar>
</div>

