<div class="formSegnalazioni">
  <mat-card>
    <form>
      <div class="form-group">
        <h2>Segnalazione Ater</h2>
        <label for="exampleFormControlInput1">Email</label><br>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"><br>
        <label for="exampleFormControlInput1">Nome</label><br>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Scrivi il tuo nome.."><br>
        <label for="exampleFormControlInput1">Telefono</label><br>
        <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Numero di telefono"><br>
        <label for="exampleFormControlInput1">Indirizzo</label><br>
        <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Indirizzo"><br>
        <label for="exampleFormControlInput1">Codice immobile</label><br>
        <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Codice immobile"><br>

        <label for="exampleFormControlInput1">Oggetto segnalazione</label><br>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titolo segnalazione"><br>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Descrizione</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div><br>
      <div class="invio">
        <button class="btn btn-primary" type="submit" value="Submit">Invio</button>
        </div>
    </form>
  </mat-card>
</div>
