<p>registrazione works!</p>
<div class="formRegistrazione">
  <mat-card>
    <form action="./utenza" method="post">
      <div class="form-group">
        <h2>Compila i campi</h2>
        <label for="exampleFormControlInput1">Email</label><br>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"><br>
        <label for="exampleFormControlInput1">Nome</label><br>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Scrivi il tuo nome.."><br>
        <label for="exampleFormControlInput1">Cognome</label><br>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Scrivi il tuo cognome.."><br>

        <label for="exampleFormControlInput1">Telefono</label><br>
        <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Numero di telefono"><br>
        </div>
      <div class="invio">
        <button class="btn btn-primary" type="submit" value="Submit">Registrati</button>
        </div>
    </form>
  </mat-card>
</div>
