<div class="container">
  <!-- <div>
  <div class="form-group" *ngFor="let ann of annuncio">
    <mat-card >
      <mat-card-header>
        <mat-card-title>{{ann.titolo}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="descrizione"><h4>Descrizione:</h4>
        <b>{{ann.descrizione}}</b><br>
        </div>
        <div class="autore">Autore: {{ann.autore.nome}}</div>
        <mat-card-actions align="end">

          <button mat-button>Contatta</button>
            <button  mat-button>Like</button>
            <button  mat-button>SHARE</button>
        </mat-card-actions>

      </mat-card-content>
    </mat-card>
  </div>
</div>
-->

  <div class="form-group">
    <mat-card class="col-12 col-lg-4">
    <form (ngSubmit)="send()" [formGroup]="form2" action="http://localhost:3000/nuovolavoro" method="post">
      <div >
        <h2>Inserisci il tuo annuncio</h2>
        <label name="email" >Email</label>
        <input type="email" class="form-control"  placeholder="name@example.com" formControlName="email"><br>
        <label name="nome" >Nome</label>
        <input type="text" class="form-control"  placeholder="Scrivi il tuo nome.." formControlName="nome"><br>
        <label name="telefono" >Telefono</label>
        <input type="tel" class="form-control"  placeholder="Numero di telefono" formControlName="telefono"><br>

        <label name="titolo"> Titolo</label>
        <input type="text" class="form-control"  placeholder="Titolo annuncio" formControlName="titolo"><br>
        <label name="descrizione" >Descrizione</label>
        <textarea class="form-control" rows="3" formControlName="descrizione"></textarea><br>
      </div>
        <button class="btn btn-primary" type="submit" value="Invia">Invio</button>
    </form>
  </mat-card>
    </div>
</div>
