<div class="container">
  <div class="form-group" *ngFor="let ann of annuncio">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ann.titolo}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="descrizione"><h4>Descrizione:</h4>
        <b>{{ann.descrizione}}</b><br>
        </div><div class="autore">Autore: {{ann.autore.nome}}</div>
        <mat-card-actions align="end">

          <button mat-button>Contatta</button>
            <button  mat-button>Like</button>
            <button  mat-button>SHARE</button>
        </mat-card-actions>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="form-group">
    <mat-card>
    <form action="post">
      <div >
        <h2>Inserisci il tuo annuncio</h2>
        <label name="email" for="exampleFormControlInput1">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"><br>
        <label name="nome" for="exampleFormControlInput1">Nome</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Scrivi il tuo nome.."><br>
        <label name="telefono" for="exampleFormControlInput1">Telefono</label>
        <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Numero di telefono"><br>
      </div>
      <div >
        <label name="titolo" for="exampleFormControlInput1">Titolo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titolo annuncio"><br>
        <label name="descrizione" for="exampleFormControlTextarea1">Descrizione</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea><br>
      </div>

        <button class="btn btn-primary" type="submit">Invio</button>
    </form>
  </mat-card>
    </div>
</div>
