
  <mat-toolbar>
    <span>Capic</span>
    <span class="example-spacer"></span>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a routerLink="./home" class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a routerLink="./regali" class="nav-link active" aria-current="page" href="#">Regali</a>
            </li>
            <li class="nav-item">
              <a routerLink="./lavoro" class="nav-link active" aria-current="page" href="#">Lavoro</a>
            </li>
            <li class="nav-item">
              <a routerLink="./segnalazioni" class="nav-link active" aria-current="page" href="#">Segnalazioni</a>
            </li>
            <li class="nav-item">
              <a routerLink="./contatti" class="nav-link active" aria-current="page" href="#">Contatti</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </mat-toolbar>
  <div class="container">
  <div><router-outlet></router-outlet></div>
  <footer>
    <address>
      <div class="footer">
      <span><b>Capic</b></span>
      <p>largo Odoardo Tabacchi 5,<br>
      00148 - Roma<br><small>
    Tel: 0665005600<br>
    email: comitato.capic@gmail.com</small></p>
    </div>
    </address>
  </footer>
</div>

