
.formRegali {
  padding: 50px;
  background-color: rgb(238, 231, 231);
  margin:auto;
}

.annunciRegali {
  padding: 50px;


}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.invio {
  padding: 5px;
}
