<div class="container">

<div class="annunciRegali" *ngFor="let reg of regali">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{reg.titolo}}</mat-card-title>
      <mat-card-subtitle>Autore: {{reg.autore}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">

      <mat-card-content>
        <h4>Descrizione:</h4>
        <b>{{reg.descrizione}}</b><br>

        <mat-card-actions align="end">
          <button mat-button>Contatta</button>
            <button  mat-button>Like</button>
            <button  mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
</div>


<div class="formRegali">
  <mat-card>
<form>
  <div class="form-group">
    <h2>Inserisci il tuo annuncio</h2>
    <label for="exampleFormControlInput1">Email</label><br>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"><br>
    <label for="exampleFormControlInput1">Nome</label><br>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Scrivi il tuo nome.."><br>
    <label for="exampleFormControlInput1">Telefono</label><br>
    <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Numero di telefono"><br>
    <label for="exampleFormControlInput1">Titolo Annuncio</label><br>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titolo annuncio"><br>
  </div>
  <div class="mb-3">
    <label for="formFileMultiple" class="form-label">Caricare i file</label><br>
    <input class="form-control" type="file" id="formFileMultiple" multiple>
  </div>
  <div class="form-group">

    <label for="exampleFormControlTextarea1">Descrizione</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
</mat-card>
</div>
</div>
