<!--
<div class="container">
  <div class="row">
    <div class="col-sm" *ngFor="let reg of regali">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{reg.titolo}}</mat-card-title>
        <mat-card-subtitle>Autore: {{reg.autore}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">

        <mat-card-content>
          <h4>Descrizione:</h4>
          <b>{{reg.descrizione}}</b><br>

          <mat-card-actions align="end">
            <button mat-button>Contatta</button>
              <button  mat-button>Like</button>
              <button  mat-button>Condividi</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
  </div>
  </div>
</div>
-->

<div class="container">
  <div class="annunciRegali">
    <div class="row">
      <div class="col-12 col-lg-4">
        <!--start card-->
        <div class="card-wrapper">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      <!--end card-->
      </div>
      <div class="col-12 col-lg-4">
      <!--start card-->
        <div class="card-wrapper">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      <!--end card-->
      </div>
      <div class="col-12 col-lg-4">
      <!--start card-->
        <div class="card-wrapper">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      <!--end card-->
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="formRegali">
    <mat-card class="col-12 col-lg-4">
      <form (ngSubmit)="send()" [formGroup]="formRegali">
        <div class="form-group">
          <h2>Inserisci il tuo annuncio</h2>
          <label >Email</label><br>
          <input type="email" class="form-control"  placeholder="name@example.com" formControlName="email"><br>
          <label >Nome</label><br>
          <input type="text" class="form-control" placeholder="Scrivi il tuo nome.."formControlName="nome"><br>
          <label >Telefono</label><br>
          <input type="tel" class="form-control" placeholder="Numero di telefono" formControlName="telefono"><br>
          <label >Titolo Annuncio</label><br>
          <input type="text" class="form-control"  placeholder="Titolo annuncio" formControlName="titolo"><br>
        </div>
        <div class="mb-3">
          <label  class="form-label">Caricare i file</label><br>
          <input class="form-control" type="file" formControlName="documenti">
        </div>
        <div class="form-group">
          <label >Descrizione</label>
          <textarea class="form-control"  rows="5" formControlName="descrizione"></textarea>
        </div>
        <div class="invio">
        <button class="btn btn-primary" type="submit" value="Invia">Invio</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
