
.formRegali {
  padding: 90px;
  background-color: darkgray;
  margin:auto;
}

.annunciRegali {
  padding: 40px;
  background-color: darkgray;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.invio {
  padding: 5px;
}
