<div class="container">

<div class="annunciRegali" *ngFor="let reg of regali">
  <mat-card>
      <mat-card-title>{{reg.titolo}}</mat-card-title>
      <mat-card-content>
        <h4>Descrizione:</h4>
        <b>{{reg.descrizione}}</b><br>
        Autore: {{reg.autore}}
        <mat-card-actions>
          <button>Contatta</button>
          <mat-card-actions align="end">
            <button mat-button>Like</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card-actions>

      </mat-card-content>
    </mat-card>
</div>


<div class="formRegali">
  <mat-card>
<form>
  <div class="form-group">
    <h2>Inserisci il tuo annuncio</h2>>
    <label for="exampleFormControlInput1">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    <label for="exampleFormControlInput1">Nome</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Scrivi il tuo nome..">
    <label for="exampleFormControlInput1">Tel</label>
    <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Numero di telefono">
    <label for="exampleFormControlInput1">Titolo</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titolo annuncio">

  </div>
  <div class="form-group">
    Inserisci una descrizione:<br>
    <label for="exampleFormControlTextarea1">Descrizione</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
</mat-card>
</div>
</div>
