/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Titillium Web;
}

a {
  text-decoration: none;
}

.footer {
  text-align: center;
}


.example-spacer {
  flex : 1  1 auto;
  padding: 10px;
  flex: 50%;
}

h1, h2, h3, h4, h5, h6 {

    display:block;
    margin:0px auto;
    text-align:center;
    padding: 25px;
    font-family: 'Consolas';
    color: navy;

}

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
