

  <div class="container">
    <span>
     <h1 ><b>Comitato Associazioni Promotori Inquilini</b></h1>
      <p class="sottotitolo"> Si propone di dare assistenza alle famiglie residenti nel territorio del quartiere.</p>
    </span>

  <img src="https://barbarapicci.files.wordpress.com/2019/07/gocc82mez-40-corviale-italy.jpg" alt="Image" class="mx-auto d-block">

  <div class="citazione">
    <h3>“Io sono orgoglioso di esserecittadino italiano, ma mi sento anche cittadino del mondo,<br>
       sicché quando un uomo in un angolo della terra lotta per la sua libertà ed è perseguitato perché vuole restare un uomo libero,<br>
        io sono al suo fianco con tutta la mia solidarietà di cittadino del mondo.”
      <br><br>

      <em>SANDRO PERTINI 1978</em>
    </h3>
  </div>
</div>



<div class="container">
  <h1>Di cosa ci occupiamo</h1>
  <div class="presentazione">
  <div class="row">
    <div class="col-12 col-lg-4">
      <!--start card-->
      <div class="card-wrapper" >
        <div class="card" >
          <div class="card-body">
            <h3 class="card-title">SEGNALAZIONI ATER</h3>
            <p class="card-text">Compilando il form Segnalazioni è possibile inviare all'istituto Ater una segnalazione per guasti.</p>
            <a class="read-more" href="#">
              <span class="text">Vai al form per le segnalazioni Ater</span>
              <svg class="icon">
                <use href="http://localhost:4200/segnalazioni"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!--end card-->
    </div>
    <div class="col-12 col-lg-4">
      <!--start card-->
      <div class="card-wrapper card-space">
        <div class="card card-bg">
          <div class="card-body">
            <h3 class="card-title">ANNUNCI DI REGALI</h3>
            <p class="card-text">In questa sezione è possibile consultare gli annunci di regalo ed è possibile inserire un nuovo annuncio di regalo</p>
            <a class="read-more" href="#">
              <span class="text">Vai ai Regali</span>
              <svg class="icon">
                <use href="http://localhost:4200/regali"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!--end card-->
    </div>
    <div class="col-12 col-lg-4">
      <!--start card-->
      <div class="card-wrapper">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">ANNUNCI DI LAVORO</h3>
            <p class="card-text">E' possibile visualizzare gli annunci di lavoro ed inserire un nuovo annuncio di lavoro.</p>
            <a class="read-more" href="#">
              <span class="text">Vai alleOfferte di Lavoro</span>
              <svg class="icon">
                <use href="http://localhost:4200/lavoro"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!--end card-->
    </div>
  </div>
</div>



