  .container {
    background-color: aliceblue;

  }

  .citazione {
    display:block;
    margin:20px;
    text-align:center;
    font-size: x-large;
    color: navy;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: cornsilk;
    }

.sottotitolo {
  text-align:center;
  font-family: 'Consolas';
  color: navy;

}
