
<div class="container">
  <div class="citazione">
    <h3>“Io sono orgoglioso di esserecittadino italiano, ma mi sento anche cittadino del mondo,<br>
       sicché quando un uomo in un angolo della terra lotta per la sua libertà ed è perseguitato perché vuole restare un uomo libero,<br>
        io sono al suo fianco con tutta la mia solidarietà di cittadino del mondo.”
      <br><br>

      <em>SANDRO PERTINI 1978</em>
    </h3>
  </div>
  <img src="https://barbarapicci.files.wordpress.com/2019/07/gocc82mez-40-corviale-italy.jpg" alt="Image" class="mx-auto d-block">


  <p class="centro">
    <span>Comitato Associazioni Promotori Inquilini</span> - Si propone di dare assistenza alle famiglie residenti nel territorio del quartiere.
  </p>
</div>
<div class="container">
</div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Segnalazioni Ater</h4>
      <p class="card-text">Attraverso il sito del Capic è possibile inviare delle segnalazioni da inviare all'ATER su problematiche riguardanti gli appartamenti dell'ente.
        E' possibile effettuare subito una segnalazione cliccando sul menu "Segnalazioni", si verrà rimandati alla pagina dove è possibile compilare il form di segnalazione.
      </p>
      <a href="segnalazioni" class="card-link">vai a Segnalazioni Ater</a>

    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Annunci Lavoro</h4>
        <p class="card-text">Some example text. Some example text.</p>
        <a href="lavoro" class="card-link">Card link</a>

      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Annunci Regalo</h4>
        <p class="card-text">Some example text. Some example text.</p>
        <a href="regali" class="card-link">Card link</a>

      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Contattaci</h4>
        <p class="card-text">Some example text. Some example text.</p>
        <a href="contatti" class="card-link">Card link</a>

      </div>
    </div>
  </div>
</div>



