
<div class="container">
  <div class="container">
    <span>
     <h1 ><b>Comitato Associazioni Promotori Inquilini</b></h1>
      <p class="sottotitolo"> Si propone di dare assistenza alle famiglie residenti nel territorio del quartiere.</p>
    </span>
  </div>
  <img src="https://barbarapicci.files.wordpress.com/2019/07/gocc82mez-40-corviale-italy.jpg" alt="Image" class="mx-auto d-block">
  <div class="citazione">
    <h3>“Io sono orgoglioso di esserecittadino italiano, ma mi sento anche cittadino del mondo,<br>
       sicché quando un uomo in un angolo della terra lotta per la sua libertà ed è perseguitato perché vuole restare un uomo libero,<br>
        io sono al suo fianco con tutta la mia solidarietà di cittadino del mondo.”
      <br><br>

      <em>SANDRO PERTINI 1978</em>
    </h3>
  </div>
</div>

<div class="container">
  <h2>Di cosa ci occupiamo</h2>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Segnalazioni Ater</h3>
      <p class="card-text">Attraverso il sito del Capic è possibile inviare delle segnalazioni da inviare all'ATER su problematiche riguardanti gli appartamenti dell'ente.
        E' possibile effettuare subito una segnalazione cliccando sul menu "Segnalazioni", si verrà rimandati alla pagina dove è possibile compilare il form di segnalazione.
      </p>
      <a href="segnalazioni" class="card-link">vai a Segnalazioni Ater</a>

    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Annunci Lavoro</h4>
        <p class="card-text">Una bacheca di annunci di ricerca personale dove è possibile ricercare un annuncio oppure inserire un annuncio lavorativo </p>
        <a href="lavoro" class="card-link">vai a Bacheca Lavoro</a>

      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Annunci Regalo</h4>
        <p class="card-text">Bacheca di annunci di regali di diverse tipologie</p>
        <a href="regali" class="card-link">vai a Bacheca Regali</a>

      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Contattaci</h4>
        <p class="card-text">Hai domande? Contattaci!</p>
        <a href="contatti" class="card-link">vai a forf di contatti Capic</a>

      </div>
    </div>
  </div>
</div>



